<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img
        src="../../assets/img/logo.png"
        height="70"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <div>
        <button class="btn btn-md btn-block mx-4 btn-main">FCT</button>
        <button class="btn btn-md btn-block btn-main">Editar Perfil</button>
    </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
