<h1 class="text-center my-3">Crear Oferta!</h1>
  <form [formGroup]="CrearOfertaForm" class="mx-5">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label">Titol</label>
          <input type="text" formControlName="titol" class="form-control" />
          <!--  DIV ERROR-->
            <div *ngIf="f['titol'].invalid && (f['titol'].dirty || f['titol'].touched)" class="text-center p-2 alert-danger">
              <div *ngIf="f['titol'].errors?.['required']">
                El nom és obligatori.
              </div>
            </div>
          <!-- END ERROR-->
      </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label">Tipus</label>
          <input type="text" formControlName="tipus" class="form-control" />
          <!--  DIV ERROR-->
          <div *ngIf="f['tipus'].invalid && (f['tipus'].dirty || f['tipus'].touched)" class="text-center p-2 alert-danger">
            <div *ngIf="f['tipus'].errors?.['required']">
             Aquest camp és obligatori.
            </div>
          </div>
        <!-- END ERROR-->
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label">Descripció</label>
          <input type="text" formControlName="descripcio" class="form-control" />
          <!--  DIV ERROR-->
            <div *ngIf="f['descripcio'].invalid && (f['descripcio'].dirty || f['descripcio'].touched)" class="text-center p-2 alert-danger">
              <div *ngIf="f['descripcio'].errors?.['required']">
                Aquest camp és obligatori.
              </div>
            </div>
          <!-- END ERROR-->
      </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label">Teletreball</label>
          <input type="password" formControlName="teletreball" class="form-control" />
          <!--  DIV ERROR-->
          <div *ngIf="f['teletreball'].invalid && (f['teletreball'].dirty || f['teletreball'].touched)" class="text-center p-2 alert-danger">
            <div *ngIf="f['teletreball'].errors?.['required']">
             Aquest camp és obligatori.
            </div>
          </div>
        <!-- END ERROR-->
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label">Salari</label>
          <input type="text" formControlName="salari" class="form-control" />
          <!--  DIV ERROR-->
          <div *ngIf="f['salari'].invalid && (f['salari'].dirty || f['salari'].touched)" class="text-center p-2 alert-danger">
            <div *ngIf="f['salari'].errors?.['required']">
             Aquest camp és obligatori.
            </div>
          </div>
        <!-- END ERROR-->
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label">Horari</label>
          <input type="text" formControlName="horari" class="form-control" />
          <!--  DIV ERROR-->
          <div *ngIf="f['horari'].invalid && (f['horari'].dirty || f['horari'].touched)" class="text-center p-2 alert-danger">
            <div *ngIf="f['horari'].errors?.['required']">
             Aquest camp és obligatori.
            </div>
          </div>
        <!-- END ERROR-->      
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="form-outline">
            <label class="form-label">Tipus de Contracte</label>
            <input type="text" formControlName="tipus_contracte" class="form-control" />
                <!--  DIV ERROR-->
                <div *ngIf="f['tipus_contracte'].invalid && (f['tipus_contracte'].dirty || f['tipus_contracte'].touched)" class="text-center p-2 alert-danger">
                  <div *ngIf="f['tipus_contracte'].errors?.['required']">
                   Aquest camp és obligatori.
                  </div>
                </div>
              <!-- END ERROR-->  
          </div>
      </div>
      <div class="form-outline col-md-6 mb-4">
        <label class="form-label">Experiencia Mínima</label>
        <input type="number" formControlName="experiencia_minima" class="form-control" />
          <!--  DIV ERROR-->
          <div *ngIf="f['experiencia_minima'].invalid && (f['experiencia_minima'].dirty || f['experiencia_minima'].touched)" class="text-center p-2 alert-danger">
            <div *ngIf="f['experiencia_minima'].errors?.['required']">
             Aquest camp és obligatori.
            </div>
          </div>
        <!-- END ERROR-->    
      </div>
    </div>
  
    <div class="form-outline mb-4">
      <label class="form-label">Estudis Mínim</label>
      <div *ngFor="let curs of dades.cursos" class="form-check">
        <input class="form-check-input" type="checkbox" (change)="onCheckboxChange($event)"  [value]="curs.codi" />
        <label class="form-check-label">
          {{curs.codi}} - ({{curs.nom}})
        </label>
      </div>
        <!--  DIV ERROR-->
        <div *ngIf="f['estudis'].invalid && (f['estudis'].dirty || f['estudis'].touched)" class="text-center p-2 alert-danger">
          <div *ngIf="f['estudis'].errors?.['required']">
            Aquest camp és obligatori.
          </div>
        </div>
      <!-- END ERROR-->   
    </div>
  
    <div class="d-flex justify-content-center pt-3">
      <button type="submit" class="btn btn-main btn-lg ms-2">Crea el compte</button>
    </div>
    </form>