<h1 class="text-center my-3">Crear Oferta!</h1>
  <form [formGroup]="CrearOfertaForm" (ngSubmit)="onSubmit()" class="mx-5">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label">Titol</label>
          <input type="text" formControlName="titol" class="form-control" />
          <!--  DIV ERROR-->
            <div *ngIf="f['titol'].invalid && (f['titol'].dirty || f['titol'].touched)" class="text-center p-2 alert-danger">
              <div *ngIf="f['titol'].errors?.['required']">
                El nom és obligatori.
              </div>
            </div>
          <!-- END ERROR-->
      </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label">Tipus</label>
          <select (change)="onChange($event)" formControlName="tipus" class="form-control">
            <option value="" selected disabled>Seleccionar el tipus de Oferta.....</option>
            <option value="fct">FCT</option>
            <option value="treball">Treball</option>
          </select>
          <!--  DIV ERROR-->
          <div *ngIf="f['tipus'].invalid && (f['tipus'].dirty || f['tipus'].touched)" class="text-center p-2 alert-danger">
            <div *ngIf="f['tipus'].errors?.['required']">
             Aquest camp és obligatori.
            </div>
          </div>
        <!-- END ERROR-->
        </div>
      </div>
    </div>

    <div class="row">
        <div class="form-group col mb-4">
        <label>Descripció</label>
        <textarea class="form-control" formControlName="descripcio" rows="5"></textarea>
          <!--  DIV ERROR-->
          <div *ngIf="f['descripcio'].invalid && (f['descripcio'].dirty || f['descripcio'].touched)" class="text-center p-2 alert-danger">
            <div *ngIf="f['descripcio'].errors?.['required']">
              Aquest camp és obligatori.
            </div>
          </div>
        <!-- END ERROR-->
        </div>
      </div>
    <div class="row">
      <div [hidden]="f['tipus'].value === 'fct'" class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label">Salari</label>
          <input type="text" formControlName="salari" class="form-control" />
          <!--  DIV ERROR-->
          <div *ngIf="f['salari'].invalid && (f['salari'].dirty || f['salari'].touched)" class="text-center p-2 alert-danger">
            <div *ngIf="f['salari'].errors?.['required']">
             Aquest camp és obligatori.
            </div>
          </div>
        <!-- END ERROR-->
        </div>
      </div>
      <div [hidden]="f['tipus'].value === 'fct'" class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label">Jornada</label>
          <!-- <input type="text" formControlName="horari" class="form-control" /> -->
          <select formControlName="jornada" class="form-control">
            <option seleceted disabled value="">Seleccionar la jornada.....</option>
            <option *ngFor="let jornada of dades.jornades" [value]="jornada">{{jornada}}</option>
          </select>
          <!--  DIV ERROR-->
          <div *ngIf="f['jornada'].invalid && (f['jornada'].dirty || f['jornada'].touched)" class="text-center p-2 alert-danger">
            <div *ngIf="f['jornada'].errors?.['required']">
             Aquest camp és obligatori.
            </div>
          </div>
        <!-- END ERROR-->      
        </div>
      </div>
    </div>
  
    <div class="row">
      <div [hidden]="f['tipus'].value === 'fct'" class="col-md-6 mb-4">
        <div class="form-outline">
            <label class="form-label">Tipus de Contracte</label>
            <select formControlName="tipus_contracte" class="form-control">
              <option seleceted disabled value="">Seleccionar el tipus de Contracte.....</option>
              <option *ngFor="let tipus of dades.tipus_contracte" [value]="tipus">{{tipus}}</option>
            </select>
                <!--  DIV ERROR-->
            <div *ngIf="f['tipus_contracte'].invalid && (f['tipus_contracte'].dirty || f['tipus_contracte'].touched)" class="text-center p-2 alert-danger">
              <div *ngIf="f['tipus_contracte'].errors?.['required']">
                Aquest camp és obligatori.
                </div>
              </div>
              <!-- END ERROR-->  
          </div>
      </div>
      <div [hidden]="f['tipus'].value === 'fct'" class="form-outline col-md-6 mb-4">
        <label class="form-label">Experiencia Mínima</label>
        <select formControlName="experiencia_minima" class="form-control">
          <option seleceted disabled value="">Seleccionar l'experiencia mínima</option>
          <option value="0">No cal</option>
          <option value="3 mesos">3 mesos</option>
          <option value="6 mesos">6 mesos</option>
          <option value="1 any">1 any</option>
          <option value="2 anys">2 anys</option>
          <option value="3 anys">3 anys</option>
          <option value="més de 5 anys">Més de 5 anys</option>

        </select>
          <!--  DIV ERROR-->
          <div *ngIf="f['experiencia_minima'].invalid && (f['experiencia_minima'].dirty || f['experiencia_minima'].touched)" class="text-center p-2 alert-danger">
            <div *ngIf="f['experiencia_minima'].errors?.['required']">
             Aquest camp és obligatori.
            </div>
          </div>
        <!-- END ERROR-->    
      </div>
    </div>  
    <div class="row">
      <div class="col mb-4">
        <div class="form-outline">
          <label class="form-label mb-3">Teletreball</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="true" formControlName="teletreball">
            <label class="form-check-label" for="inlineRadio1">Si</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="false" formControlName="teletreball">
            <label class="form-check-label">No</label>
          </div>
          <!--  DIV ERROR-->
          <div *ngIf="f['teletreball'].invalid && (f['teletreball'].dirty || f['teletreball'].touched)" class="text-center p-2 alert-danger">
            <div *ngIf="f['teletreball'].errors?.['required']">
            Aquest camp és obligatori.
            </div>
          </div>
        <!-- END ERROR-->
        </div>
      </div>
    </div>
    <div  [hidden]="f['tipus'].value === 'fct'" class="form-outline mb-4">
      <label class="form-label">Estudis Mínim</label>
      <div *ngFor="let curs of dades.cursos" class="form-check">
        <input class="form-check-input" type="checkbox" (change)="onCheckboxChange($event)"  [value]="curs.codi" />
        <label class="form-check-label">
          {{curs.codi}} - ({{curs.nom}})
        </label>
      </div>
        <!--  DIV ERROR-->
        <div *ngIf="f['estudis'].invalid && (f['estudis'].dirty || f['estudis'].touched)" class="text-center p-2 alert-danger">
          <div *ngIf="f['estudis'].errors?.['required']">
            Aquest camp és obligatori.
          </div>
        </div>
      <!-- END ERROR-->   
    </div>
    <div [hidden]="f['tipus'].value !== 'fct'">
      <label class="form-label">Curs</label>
      <div *ngFor="let curs of dades.cursos" class="form-check">
        <input class="form-check-input" type="radio" formControlName="estudis_fct"  [value]="curs.codi">
        <label class="form-check-label">
          {{curs.codi}} - ({{curs.nom}})
        </label>
      </div>
    </div>
    <div class="d-flex justify-content-center pt-3">
      <button type="submit" class="btn btn-main btn-lg ms-2">Crea el compte</button>
    </div>
    </form>