<div class="mx-md-5 mt-3">
  <div class="row m-0">
    <div class="col-md-3 mb-4 mb-md-0">
      <div class="p-3 text-white bg-dark rounded-3" id="filtres">
        <form [formGroup]="FiltersForm" (ngSubmit)="onSubmit()">
           <!-- Filter oferta -->
          <h2 class="text-center">Filtres</h2>
          <div class="container">
            <button class="btn float-end text-black bg-light mx-0 p-0 px-2 border" type="submit"> Reset </button>
          </div>
          <p class="mb-1">Tipus Oferta</p>
          <div class="form-check mx-3">
            <input type="radio" class="form-check-input" (change)="filterTipusOferta($event)"  formControlName="filterOferta" value="FCT">
            <label class="form-check-label" >FCT</label>
          </div>
          <div class="form-check mx-3">
            <input type="radio" class="form-check-input" (change)="filterTipusOferta($event)" formControlName="filterOferta" value="Treball">
            <label class="form-check-label" >Oferta Treball</label>
          </div>
          <!-- Filter Tipus Contracte -->
        <p  class="mb-1">Tipus Contracte</p>
          <div *ngFor="let jornada of dades.tipus_contracte" class="form-check mx-3">
            <input type="radio" class="form-check-input" (change)="filterJornada($event)"  formControlName="filterContracte" [value]="jornada">
            <label class="form-check-label" >{{jornada}}</label>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col">
          <div class="p-3 rounded-3 bg-primary-custom">
            <h2 class="text-center" id="ofertes">OFERTES </h2>
            <!-- Llista Ofertes -->
            <div [routerLink]="['/alumne', {outlets:{ primary: null, 'outlet-alumne': ['info-oferta', oferta.id] }}]" *ngFor="let oferta of ofertes" class="border rounded-3 bg-light p-4 pb-0 mb-2">
              <h3>{{oferta.titol}}</h3>
              <p class="oferta-descripcio">{{oferta.descripcio}}</p>
              <p>{{oferta.salari}}€</p>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>