<div class="row mx-2 mx-md-5 mt-2 p-3 justify-content-between">
    <div class="col-md-4 mb-4 mb-md-0">
      <div class="h-100 p-3 text-white bg-dark rounded-3" id="filtres">
        <h2 class="text-center">Filtres</h2>
        <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
        <button class="btn btn-outline-light" type="button">Example button</button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="h-100 p-3 bg-light border rounded-3">
        <h2 class="text-center" id="ofertes">OFETRES </h2>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
        <button class="btn btn-outline-secondary" type="button">Example button</button>
      </div>
    </div>
  </div>