<div class="mx-md-5 mt-3">
  <div class="row m-0">
    <div class="col-md-3 mb-4 mb-md-0">
      <div class="p-3 text-white bg-dark rounded-3" id="filtres">
        <h2 class="text-center">Filtres</h2>
          <!-- Filter oferta -->
        <p>Tipus Oferta</p>
          <div class="form-check">
            <input type="radio" class="form-check-input"  name="filter-oferta" value="FCT">
            <label class="form-check-label" >FCT</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" name="filter-oferta" value="Treball">
            <label class="form-check-label" >Oferta Treball</label>
          </div>
          <!-- Filter Tipus Contracte -->
        <p>Tipus Contracte</p>
          <div class="form-check">
            <input type="radio" class="form-check-input"  name="filter-jornada" value="Jornada Completa">
            <label class="form-check-label" >Jornada Completa</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" name="filter-jornada" value="Indiferent">
            <label class="form-check-label" >Indiferent</label>
          </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col">
          <div class="p-3 rounded-3 bg-primary-custom">
            <h2 class="text-center" id="ofertes">OFERTES </h2>
            <!-- Llista Ofertes -->
            <div class="border rounded-3 bg-light p-4 pb-0 mb-2">
              <h3>Oferta 3</h3>
              <p class="oferta-descripcio">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
              </p>
              <p>Salari</p>
            </div>

            <div class="border rounded-3 bg-light p-4 pb-0 mb-2">
              <h3>Oferta 3</h3>
              <p class="oferta-descripcio">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
              </p>
              <p>Salari</p>
            </div>

            <div class="border rounded-3 bg-light p-4 pb-0 mb-2">
              <h3>Oferta 3</h3>
              <p class="oferta-descripcio">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
              </p>
              <p>Salari</p>
            </div>

            <div class="border rounded-3 bg-light p-4 pb-0 mb-2">
              <h3>Oferta 3</h3>
              <p class="oferta-descripcio">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
              </p>
              <p>Salari</p>
            </div>

            <div class="border rounded-3 bg-light p-4 pb-0 mb-2">
              <h3>Oferta 3</h3>
              <p class="oferta-descripcio">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining ess</p>
              <p>Salari</p>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>