<div> 
    <div class="container bg-primary-custom border rounded-3 mt-3">
      <h2 class="mt-2 p-3 pb-0">Buscar Oferta</h2>
      <form>
        <div class="row">
          <div class="col my-2">
            <!-- Seleccionar el curs (Search Bar) -->
            <select  class="form-select">
              <option value="" disabled selected>selecionar el curs</option>
              <option *ngFor="let curs of cursos" [ngValue]="curs.codi">{{curs.nom}}</option>
            </select>
          </div>
          <div class="col-md-auto my-2">
            <!-- Seleccionar el poble (Search Bar) -->
            <select  class="form-select" searchable="Search here..">
              <option value="" disabled selected>Poble</option>
              <option value="dam">Angles</option>
              <option value="daw">Girona</option>
            </select>
          </div>
          <div class="col col-lg-2 my-2 mb-4">
            <button class="btn-main btn">Cerca Ofertes</button>
          </div>
          </div>
      </form>
    </div>

</div>

    