<section class="vh-100" id="form-part">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="../../assets/img/library.jpg"
                alt="login form"
                class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-2 p-lg-1 text-black">
                <form [formGroup]="loginForm" (ngSubmit)="login()"> 
                  <div class="center-content mb-4 pb-1">
                    <i class="fa-2x me-3"> <img src="../../assets/img/logo-institut.png" alt=""> </i>
                    <span class="h1 mb-0">Institut Rafael Campalans</span>
                  </div>
                  <h2 class="fw-normal mb-3 pb-1 mx-4 mx-lg-5" style="letter-spacing: 1px;">Iniciar Sessió</h2>

                  <div class="form-outline mb-4 mx-4 mx-lg-5">
                    <input type="email" formControlName="email" placeholder="Email....." class="form-control form-control-lg"/>
                  </div>
                  <div class="form-outline mb-4 mx-4 mx-lg-5">
                    <input type="password" formControlName="password" placeholder="Constrasenya....." class="form-control form-control-lg" />
                  </div>

                  <div class="text-center mb-4 text-danger" [hidden]="!f['email'].errors?.['invalid']">
                    Email o contrasenya incorrecta.
                  </div>
                  <div class="text-center mb-4 text-danger" [hidden]="!f['email'].errors?.['disabled']">
                    El compte està desactivat.
                  </div>                  
                  <div class="pt-1 mb-3 center-content">
                    <button class="btn btn-lg btn-block btn-main" type="submit">Inicia la sessió</button>
                  </div>
                  <a class="small text-muted center-content" routerLink="/canviar-contrasenya">Heu oblidat la contrasenya?</a>
                  <p class="pb-1 center-content" style="color: #393f81;">No tens compte? <a class="text-primary" routerLink="/sign-up" >Registra't</a></p>
                  <div class="divider d-flex align-items-center mx-4">
                    <p class="text-center fw-bold mx-3 mb-0 text-muted">O</p>
                  </div>
                  <div class="center-content">
                    <a class="btn btn-google btn-lg btn-block" href="#!" role="button">
                      <img src="https://img.icons8.com/color/16/000000/google-logo.png"> Continua amb google </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>