<!-- <div class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">
      <div class="d-flex justify-content-center border">
        <form class="col-12 col-md-8 col-lg-6 col-xl-5" id="needs-validation" novalidate>
          <h2 class="m-3 text-center">Formulari - Exercici 5</h2>
          <div class="form-group col-md-12 mb-3">
              <label for="id_nom">Nom: </label>
              <input type="text" class="form-control mt-2" id="id_nom" placeholder="Nom....." required>
              <div class="valid-feedback">
                Prefecte!
              </div>
              <div class="invalid-feedback">
                Entri un nom vàlid!.
              </div>
            </div>
            <div class="form-group col-md-12 mb-3">
              <label for="id_email">Email:</label>
              <input type="email" class="form-control mt-2" id="id_email" placeholder="Email....." required>
              <div class="valid-feedback">
                Prefecte!
              </div>
              <div class="invalid-feedback">
                Entri un email vàlid!.
              </div>
            </div>
            <div class="form-group col-md-12 mb-3">
              <label for="id_telefon">Telèfon: </label>
              <input type="tel" class="form-control mt-2" id="id_telefon" placeholder="Telèfon....." required>
              <div class="valid-feedback">
                Prefecte!
              </div>
              <div class="invalid-feedback">
                Entri un Telèfon vàlid!.
              </div>
           </div>
            <div class="form-group col-md-12 mb-3">
              <label for="id_assumpte">Assumpte: </label>
              <input type="text" class="form-control mt-2" id="id_assupmte" placeholder="Assumpte....." required>

              <div class="valid-feedback">
                Prefecte!
              </div>
              <div class="invalid-feedback">
                L'assumpte no pot estar buit!
              </div>
            </div>
            <div class="form-group col-md-12 mb-3">
              <label for="id_missatge">Missatge: </label>
              <textarea type="text" class="form-control mt-2" id="id_missatge" rows="3" placeholder="Missatge....." required></textarea>
              <div class="valid-feedback">
                Prefecte!
              </div>
              <div class="invalid-feedback">
                Aquest camp no pot estar buit!
              </div>
            </div>
            <div class="text-center mb-5">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </form> 
      </div>
  </div> -->