  <form [formGroup]="SignUpAlumneForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="form-outline">
        <label class="form-label">Nom</label>
        <input type="text" formControlName="nom" class="form-control" />
        <!--  DIV ERROR-->
          <div *ngIf="f['nom'].invalid && (f['nom'].dirty || f['nom'].touched)" class="text-center p-2 alert-danger">
            <div *ngIf="f['nom'].errors?.['required']">
              El nom és obligatori.
            </div>
          </div>
        <!-- END ERROR-->
    </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="form-outline">
        <label class="form-label" for="form3Example1n">Cognoms</label>
        <input type="text" formControlName="cognoms" id="form3Example1n" class="form-control" />
        <!--  DIV ERROR-->
        <div *ngIf="f['cognoms'].invalid && (f['cognoms'].dirty || f['cognoms'].touched)" class="text-center p-2 alert-danger">
          <div *ngIf="f['cognoms'].errors?.['required']">
           Aquest camp és obligatori.
          </div>
        </div>
      <!-- END ERROR-->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="form-outline">
        <label class="form-label">Contrasenya</label>
        <input type="password" formControlName="contrasenya" class="form-control" />
        <!--  DIV ERROR-->
          <div *ngIf="f['contrasenya'].invalid && (f['contrasenya'].dirty || f['contrasenya'].touched)" class="text-center p-2 alert-danger">
            <div *ngIf="f['contrasenya'].errors?.['required']">
              Aquest camp és obligatori.
            </div>
            <div *ngIf="f['contrasenya'].errors?.['minlength']">
              La contrasenya ha de contenir 8 dígits
            </div>
          </div>
        <!-- END ERROR-->
    </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="form-outline">
        <label class="form-label">Repertir contrasenya</label>
        <input type="password" formControlName="recontrasenya" class="form-control" />
        <!--  DIV ERROR-->
        <div *ngIf="f['recontrasenya'].invalid && (f['recontrasenya'].dirty || f['recontrasenya'].touched)" class="text-center p-2 alert-danger">
          <div *ngIf="f['recontrasenya'].errors?.['required']">
           Aquest camp és obligatori.
          </div>
          <div *ngIf="f['recontrasenya'].errors?.['MustMatch']">
            Ha de ser la mateixa contrasenya.
           </div>
        </div>
      <!-- END ERROR-->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="form-outline">
        <label class="form-label" for="form3Example1m1">DNI</label>
        <input type="text" formControlName="DNI"  pattern="^(\d{8})([A-Z]|[a-z])$|^([ABCDEFGHJKLMNPQRSUVW])(\d{7})([0-9A-J])$|^[XYZ]\d{7,8}[A-Z]$" id="form3Example1m1" class="form-control" />
        <!--  DIV ERROR-->
        <div *ngIf="f['DNI'].invalid && (f['DNI'].dirty || f['cognoms'].touched)" class="text-center p-2 alert-danger">
          <div *ngIf="f['DNI'].errors?.['required']">
           Aquest camp és obligatori.
          </div>
          <div *ngIf="f['DNI'].errors?.['pattern']">
            DNI/NIE no és vàlid.
        </div>
        </div>
      <!-- END ERROR-->
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="form-outline">
        <label class="form-label">Any Finalització </label>
        <input type="text" formControlName="any_finalitzacio" pattern="^(19|20)\d{2}$" class="form-control" />
        <!--  DIV ERROR-->
        <div *ngIf="f['any_finalitzacio'].invalid && (f['any_finalitzacio'].dirty || f['any_finalitzacio'].touched)" class="text-center p-2 alert-danger">
          <div *ngIf="f['any_finalitzacio'].errors?.['required']">
           Aquest camp és obligatori.
          </div>
          <div *ngIf="f['any_finalitzacio'].errors?.['pattern']">
            L'any introduït no és vàlid.
          </div>
        </div>
      <!-- END ERROR-->      
      </div>
    </div>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example1n1">Email</label>
    <input type="text" formControlName="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="form3Example1n1" class="form-control" />
        <!--  DIV ERROR-->
        <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="text-center p-2 alert-danger">
          <div *ngIf="f['email'].errors?.['required']">
           Aquest camp és obligatori.
          </div>
          <div *ngIf="f['email'].errors?.['pattern']">
            El correu introduït no és vàlid.
          </div>
        </div>
      <!-- END ERROR-->  
  </div>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="form-outline">
        <label class="form-label">Població</label>
        <select formControlName="poblacio" class="select form-control">
          <option disabled>Seleccionar el poble</option>
          <option *ngFor="let poble of pobles" [ngValue]="poble.id">{{poble.nom}}</option>
        </select>
        <!--  DIV ERROR-->
        <div *ngIf="f['poblacio'].invalid && (f['poblacio'].dirty || f['poblacio'].touched)" class="text-center p-2 alert-danger">
          <div *ngIf="f['poblacio'].errors?.['required']">
           Aquest camp és obligatori.
          </div>
        </div>
      <!-- END ERROR-->
      </div>
    </div>
    <div class="form-outline col-md-6 mb-4">
      <label class="form-label" for="form3Example9">Telèfon</label>
      <input type="text" formControlName="telefon" pattern="^(\+34|0034|34)?[ -]*(6|7)[ -]*([0-9][ -]*){8}$|^(\+34|0034|34)?[ -]*(8|9)[ -]*([0-9][ -]*){8}$" id="form3Example9" class="form-control" />
        <!--  DIV ERROR-->
        <div *ngIf="f['telefon'].invalid && (f['telefon'].dirty || f['telefon'].touched)" class="text-center p-2 alert-danger">
          <div *ngIf="f['telefon'].errors?.['required']">
           Aquest camp és obligatori.
          </div>
          <div *ngIf="f['telefon'].errors?.['pattern']">
            El telèfon introduït no és vàlid.
          </div>
        </div>
      <!-- END ERROR-->    
    </div>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example9">Estudis</label>
    <div *ngFor="let curs of cursos" class="form-check">
      <input class="form-check-input" type="checkbox" (change)="onCheckboxChange($event)"  [value]="curs.codi" />
      <label class="form-check-label">
        {{curs.codi}} - ({{curs.nom}})
      </label>
    </div>
      <!--  DIV ERROR-->
      <div *ngIf="f['estudis'].invalid && (f['estudis'].dirty || f['estudis'].touched)" class="text-center p-2 alert-danger">
        <div *ngIf="f['estudis'].errors?.['required']">
          Aquest camp és obligatori.
        </div>
      </div>
    <!-- END ERROR-->   
  </div>

  <div class="d-flex justify-content-center pt-3">
    <button type="submit" class="btn btn-main btn-lg ms-2">Crea el compte</button>
  </div>
  </form>