<section class="h-100 bg-primary-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-5 d-none d-xl-block">
              <img
                src="../../assets/img/library.jpg"
                alt="Sample photo"
                class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
              />
            </div>
            <div class="col-xl-7">
              <div class="card-body p-md-5 text-black">
                <div class="center-content mb-4 pb-1">
                  <i class="fas fa-cubes fa-2x me-3"> <img src="../../assets/img/logo-institut.png" alt=""> </i>
                  <span class="h1 mt-sm-2 mt-md-4 mt-lg-2 mb-0">Institut Rafael Campalans</span>
                </div>
                <div class="btn-group mx-4 mx-lg-5 my-3 center-content">
                  <input type="radio" [routerLink]="[{outlets:{ outlet1: ['sign-up-alumne'] }}]" class="btn-check" name="options" id="option1" autocomplete="off" checked/> 
                  <label class="btn btn-secondary" for="option1">Ex-Alumne</label>
                  <input type="radio" [routerLink]="[{outlets:{ outlet1: ['sign-up-empresa'] }}]" class="btn-check" name="options" id="option2" autocomplete="off"/>
                  <label class="btn btn-secondary" for="option2">Empresa</label>
                  <input type="radio" [routerLink]="[{outlets:{outlet1: ['sign-up-professor'] }}]" class="btn-check" name="options" id="option3" autocomplete="off"/>
                  <label class="btn btn-secondary" for="option3">Professor</label>
                </div>
                <router-outlet  name="outlet1"></router-outlet> 
                <p class="pb-1 center-content">Ja tens un compte? <a class="text-primary" routerLink="/login" >Entra</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>