<section class="vh-100" id="form-part">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form"
                  class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
                />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-2 p-lg-1 text-black">
                  <form>
                    <div class="center-content mb-4 pb-1">
                      <i class="fas fa-cubes fa-2x me-3"> <img src="../../assets/img/logo-institut.png" alt=""> </i>
                      <span class="h1 mb-0">Institut Rafael Campalans</span>
                    </div>
  
                    <h2 class="fw-normal mb-3 pb-1 mx-4 mx-lg-5" style="letter-spacing: 1px;">Crear un compte nou!</h2>
  
                    <!-- <div class="btn-group mx-4 mx-lg-5 my-3 center-content">
                      <input
                        mdbRadio
                        type="radio"
                        class="btn-check"
                        name="options"
                        id="option1"
                        autocomplete="off"
                        [checked]="true"
                      />
                      <label class="btn btn-secondary" for="option1">Empresa</label>
                      <input
                        mdbRadio
                        type="radio"
                        class="btn-check"
                        name="options"
                        id="option2"
                        autocomplete="off"
                      />
                      <label class="btn btn-secondary" for="option2">Ex-Alumne</label>
                      <input
                        mdbRadio
                        type="radio"
                        class="btn-check"
                        name="options"
                        id="option3"
                        autocomplete="off"
                      />
                      <label class="btn btn-secondary" for="option3">Professor</label>
                    </div> -->


                    <!-- <div class="form-outline mb-4 mx-4 mx-lg-5">
                      <input type="email" id="email" placeholder="Email....." class="form-control form-control-lg" />
                    </div>
  
                    <div class="form-outline mb-4 mx-4 mx-lg-5">
                      <input type="text" id="nom" placeholder="Nom......" class="form-control form-control-lg" />
                    </div>
                    <div class="form-outline mb-4 mx-4 mx-lg-5">
                      <input type="text" id="NIF" placeholder="NIF......" class="form-control form-control-lg" />
                    </div>

                    <div class="form-outline mb-4 mx-4 mx-lg-5">
                      <input type="text" id="adreca" placeholder="Adreça......" class="form-control form-control-lg" />
                    </div>

                    <div class="form-outline mb-4 mx-4 mx-lg-5">
                      <input type="text" id="tel" placeholder="Telèfon......" class="form-control form-control-lg" />
                    </div>

                    <div class="form-outline mb-4 mx-4 mx-lg-5">
                      <input type="password" id="password" placeholder="Constrasenya....." class="form-control form-control-lg" />
                    </div>
                    
                    <div class="form-outline mb-4 mx-4 mx-lg-5">
                      <input type="password" id="re-password" placeholder="Repetir Constrasenya....." class="form-control form-control-lg" />
                    </div>
                 
                    <div class="pt-1 mb-3 center-content">
                      <button class="btn btn-lg btn-block btn-main" type="button">Crea el compte!</button>
                    </div>
                    <p class="pb-1 center-content" style="color: #393f81;">Ja tens compte? <a class="text-primary" routerLink="/login" >Inicar la sessió</a></p>
                    <div class="divider d-flex align-items-center mx-4">
                      <p class="text-center fw-bold mx-3 mb-0 text-muted">O</p>
                    </div>
                    <div class="center-content">
                      <a class="btn btn-google btn-lg btn-block" href="#!" role="button">
                        <img src="https://img.icons8.com/color/16/000000/google-logo.png"> Continua amb google </a>
    
                    </div> -->

                    <div id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" routerLink="../sign-up-alumne">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" routerLink="../sign-up-professor">Add</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link"  [routerLink]="[{ outlets: { 'outlet1': ['../sign-up-empresa'] } }]">Contact</a>
                        </li>
                      </ul>
                    </div>

                    <router-outlet  name="outlet1"></router-outlet> 


                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>