/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
h2{
    font-family: 'Eczar', serif;
}
.btn-main{
    background-color: #EB9354;
    color: white;
}
.bg-primary-custom{
    background-color: #8BCEDF;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}