/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
h2{
    font-family: 'Eczar', serif;
}
.btn-main{
    background-color: #EB9354;
    color: white;
}
.bg-primary-custom{
    background-color: #8BCEDF;
}